/*
                            Note: This was a YouTube tutorial... i retyped in my way.                   
Author: Amr Elsagaei                                                                       */


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body{
    display: grid;
    height: 100%;
    place-items: center;
    background: #6665ee;

}
body h1{
    font-size: 25px;
    font-family: 'Poppin' , sans-serif;
    font-weight: 300;
    color: white;
    position: relative;
    text-align: center;
    margin-top: 10px;
}
.skills-bar{
    width: 600px;
    background: #fff;
    border-radius: 10px;
    padding: 25px 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.skills-bar .bar{
    margin: 20px 0px;
}
.skills-bar .bar :first-child{
    margin-top: 0px;
}
.skills-bar .bar .info{
    margin-bottom: 5px;
}
.skills-bar .bar .info span{
    font-size: 17px;
    font-weight: 500;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}
.skills-bar .bar .progress-line{
    position: relative;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5),
                      0px 1px rgba(255, 255, 255, 0.8);
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span{
    height: 100%;
    width: 80%;
    background: #6665ee;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}
.progress-line.html span{
    width: 80%;
}
.progress-line.css span{
    width: 50%;
}
.progress-line.js span{
    width: 30%;
}
.progress-line.python span{
    width: 20%;
}
.progress-line.C span{
    width: 15%;
}
.bar .progress-line span::before{
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}
.bar .progress-line span::after{
    position: absolute;
    right: 0;
    top: -28px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2{
    100%{
        opacity: 1;
    }
}
.progress-line.html span::after{
    content: "80%";
}
.progress-line.css span::after{
    content: "50%";
}
.progress-line.js span::after{
    content: "30%";
}
.progress-line.python span::after{
    content: "20%";
}
.progress-line.C span::after{
    content: "15%";
}